<% include ../partials/header %>

<div class="container offers main">
    <div class="container">
        Advanced search with tags ...placeholder...  
    </div>
    <ul class = "postfield">
        <% var i = 1, perPage = 3; 
        posts.forEach(function(post){
            if(i > (page-1)*perPage && i <= page*perPage){ %>
                
                <li class = "post" onclick="window.location.href='/offers/<%= post._id %>'">
                     <div id="title"><strong><%= post.title %></strong></div>
                     <div id="price"><%= post.price %> PLN </div>
                     <div id="descr"> <%= post.descr %> </div>
                     <div>
                         <p id="author"> <%= post.author %></p>
                    </div>
               </li>
               
        <% } i++; }); %>
    </ul>

        <ul class="pagination">
             <% 
             if(page == 1){%>
                 <li class="disabled"><span><</span>
             <% } else { %>
                <li><a href="?p=<%= page-1 %>"><span><</span></a></li>
             <% } %>
                 
                 
                 
            <% if(i/perPage < 7){    %>  
                 
            <% for(var j = 1; !(j > Math.ceil(i/perPage)); j++){ 
                if(j == page){ %>
                    <li class="active"><a href="?p=<%= j %>"><%= j %></a></li>
                <% } else { %>
                    <li><a href="?p=<%= j %>"><%= j %></a></li>
                <% }
             } %>
             
                  
             
             <% } else {
                 if(page > 5 && page < Math.ceil(i/perPage)-3){ %>
                     
                     <li><a href="?p=1">1</a></li>
                     <% if(page-2 == 2){ %>
                         <li><a href="?p=<%= page-2 %>"> <%= page-2 %> </a></li>
                     <% } else { %>
                         <li><span>...</span></li>
                         <li><a href="?p=<%= page-2 %>"> <%= page-2 %> </a></li>
                     <% } %>
                     <li><a href="?p=<%= page-1 %>"> <%= page-1 %> </a></li>
                     <li class="active"><a href="?p=<%= page %>"> <%= page %> </a></li>
                     <li><a href="?p=<%= +page+1 %>"> <%= +page+1 %> </a></li>
                         <li><a href="?p=<%= +page+2 %>"> <%= +page+2 %> </a></li>
                     <% if(+page+3 == Math.ceil(i/perPage)-1) { %>
                         <li><a href="?p=<%= Math.ceil(i/perPage)-1 %>"> <%= Math.ceil(i/perPage)-1 %> </a></li>
                     <% } else { %>
                         <li><span>...</span></li>
                     <% } %>
                         <li><a href="?p=<%= Math.ceil(i/perPage) %>"> <%= Math.ceil(i/perPage) %> </a></li>
                <% } else { 
                        if(page <= 5) { 
                            for(var j = 1; j <=7; j++){ %>
                                <li <% if( j == page ){ %> class="active" <% } %>
                                ><a href="?p=<%= j %>"><%= j %></a></li></a></li>
                            <% } %>
                            <li><span>...</span></li>
                            <li><a href="?p=<%= Math.ceil(i/perPage) %>"> <%= Math.ceil(i/perPage) %> </a></li>
                        <% } else { %>
                        
                            <li><a href="?p=1">1</a></li>
                            <li><span>...</span></li>
                             <% for(var j = Math.ceil(i/perPage)-6; j <=Math.ceil(i/perPage); j++){ %>
                                <li <% if( j == page ){ %> class="active" <% } %>
                                ><a href="?p=<%= j %>"><%= j %></a></li></a></li>
                            <% } %>
             <% } } } %>
             
             <% if(!( page >= i/perPage) ){%>
                <li><a href="?p=<%= ++page %>"><span>></span></a></li>
             <% } else { %>
                <li class="disabled"><span>></span>
             <% } %>

        </ul>  

</div>


<% include ../partials/footer %>