<% include ../partials/header %>

<% include ../functions/timeSince %>


<div class="container offers main">
    <div class="container">
       <form style="padding: 0">
           Sort by:
            <select>
              <option value="0">Date /\</option>
              <option value="1">Date \/</option>
              <option value="2">Budget /\</option>
              <option value="3">Budget \/</option>
            </select>
        </form> 
    </div>
    <ul class = "postfield">
        <% var i = 1, perPage = 7; 
        posts.forEach(function(post){
            if(i > (page-1)*perPage && i <= page*perPage){ %>
                
                <li class = "post" onclick="window.location.href='/offers/<%= post._id %>'">
                     <div id="title"><strong><%= post.title %></strong></div>
                     <div id="price"><%= post.price %> PLN </div>
                     <div id="descr"> <%= post.descr %> </div>
                     <div>
                         <p id="author"> <%= post.author %> - <%= timeSince(post.date) %></p>
                    </div>
               </li>
               
        <% } i++; }); %>
    </ul>

        

</div>


<% include ../partials/pagination %>

<% include ../partials/footer %>