<% include ../partials/header %>

<% include ../functions/timeSince %>


<div class="container offers main">
    <div class="container">
       <form style="padding: 0" action="/offers?" methot="GET">
           Sort by:
            <select name='r'>
              <option <% if(params.sort == 0){ %>selected<% } %> value="0">Date /\</option>
              <option <% if(params.sort == 1){ %>selected<% } %> value="1">Date \/</option>
              <option <% if(params.sort == 2){ %>selected<% } %> value="2">Budget /\</option>
              <option <% if(params.sort == 3){ %>selected<% } %> value="3">Budget \/</option>
              <option <% if(params.sort == 4){ %>selected<% } %> value="4">Bids /\</option>
              <option <% if(params.sort == 5){ %>selected<% } %> value="5">Bids \/</option>
            </select>
              <% if(params.page>1){ %><input type="hidden" name="p" value="<%= params.page %>" /> <% } %>
              <% if(params.searchOnly != ''){ %><input type="hidden" name="s" value="<%= params.searchOnly %>" />   <% } %>
            <button>Change</button>
        </form> 
    </div>
    <ul class = "postfield">
        <% var i = 1, perPage = 7; 
        posts.forEach(function(post){
            if(i > (page-1)*perPage && i <= page*perPage){ %>
                
                <li class = "post" onclick="window.location.href='/offers/<%= post._id %>'">
                     <div id="title"><strong><%= post.title %></strong></div>
                     <div id="price"><%= post.price %> PLN </div>
                     <div id="descr"> <%= post.descr %> </div>
                     <div id="amount" style="float: left;"> Bids: <%= post.comments.length %>  </div>
                     <div>
                         <p id="author"> <%= post.author %> - <%= timeSince(post.date) %></p>
                    </div>
               </li>
               
        <% } i++; }); %>
    </ul>

        

</div>


<% include ../partials/pagination %>

<% include ../partials/footer %>