<% include ../partials/header %>

<% include ../functions/timeSince %>

<div class="container offer main">
    
    
    <div class="title">
        <h1> 
            <%= post.title %>
        </h1>
        
        <p class="empl">
            <strong>Employer:</strong> <%= post.author %>
        </p>
    </div>
    <div class="descr">
        
            <%= post.descr %>
        
    </div>
    
    <p class="budget">
        Budget: <%= post.price %> PLN
    </p>
    
    <% if(currentUser) { if(currentUser.username == post.author) { %>
        <button class="btn edit-btn" >Edit</button>
    <% } }%>
    
    

    
</div>
<div class="container main">
    <ul class="comments">
            <% if(post.comments.length != 0){
              post.comments.forEach(function(comment){ %>
               <li  class="comment"> 
               <span class="av-placeholder">avatar holder</span>
               <a href="#" class="author"> <%= comment.author %> </a>
               <p id="date"> <%= timeSince(comment.date) %><p></p>
               <p class="context"> <%= comment.context %></p>
               <p class="off-price"> Price-placeholder</p>
               </li>
            <% }); 
            } else {%>
            <li  class="comment">
                <p class="context">No one placed an offer yet</p>
            </li>
            <% } %>
    </ul>
    <% if (status == true){ %>
        <form action="/offers/<%= post._id %>/comments" method="POST">
            <textarea name="context" placeholder="Comment..." required pattern=".{5,}" title="Comment should be longer than 5 characters"></textarea>
            <button class="submit">Bid on this!</button>
            <input type="number" min="0.00" id="price-form" placeholder="price">
        </form>
    <% } %>
</div>

<script type="text/javascript">
    document.querySelector(".edit-btn").addEventListener("click", function(){
       document.querySelector(".descr").innerHTML = "<form action='/offers/<%= post.id %>?_method=PUT' method='POST'> <textarea name='descr' required pattern='.{10,}'title='Description should be longer than 10 characters'><%= post.descr %></textarea><button>Submit</button></form>";
    });
</script>


<% include ../partials/footer %>